@page
@model RazorApp.Pages.Content.IndexModel
@{
    // if (true) 
    //     Layout = "../New_Layout/_Layout.cshtml";
    // else
    //     Layout = "";
}

<div>
    <h1>Content / Index</h1>
    <a class="nav-link text-dark" asp-area="" asp-page="../New_Pages/FlippingImg">Flipping Images</a>
</div>


