@page
@model RazorApp.Pages.Content.Layout_sectionsModel
@{
}
<div>
    <h1>This is the RenderBody part</h1>
</div>
@section Scripts {
    <link href="~/css/gameofthrone.css" rel="stylesheet" />
    <h3>This is the section part </h3>
}

