@page
@model RazorApp.Pages.JavaScript.EventsModel
@{
}
<script src="/js/Events.js"></script>
<form id="form1">
    <!-- button -->
    <input type="button" id="btn" name="btn" value="click" onclick="clickFunc()" />
    <br /><br />

    <!-- text -->
    <label for="phone">phone:</label>
    <input type="text" id="phone" name="phone" onchange="phoneValidate()" />

    <br /><br />

    <!-- select -->
    <label for="colors">Choose a color:</label>
    <select id="colors" name="colors" onchange="funSelect()">
        <option value="null" selected="selected"></option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
    </select>
    <br /> <br />

    <!--event parameters-->
    <label for="text">event parameters example</label>
    <input type="text" id="text" name="text" onkeypress="return keyPressFun(event)" />

    <!-- submit -->
    <!--<input type="submit" id="submit" name="submit" />-->
</form>