@page
@model RazorApp.Pages.JavaScript.IndexModel
@{
}

<h1>Java Script pages</h1>
<nav>
    <a href="JavaScript/HelloWorld">Hello world</a> <br />
    <a href="JavaScript/HelloWorld_External">Hello world External</a> <br />
    <a href="JavaScript/JS_Runner">JS Runner</a> <br />
    <a href="JavaScript/Objects">Objects</a> <br />
    <a href="JavaScript/Events">Events</a> <br />
    <a href="JavaScript/InteractionWithHTML">Interaction With HTML</a> <br />
    <a href="JavaScript/RegExp">Regular expression</a> <br />
    <a href="JavaScript/Registration">Registration</a> <br />
    
</nav>
