h1 {
    text-align: center;
    background-color: aqua
}

p {
    direction: rtl;
    color: blue;
}

#logo {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#paraDiv {
    border: solid 3px black;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    background-color: lightgray
}

#flexDiv {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 10px
}

.flexImg {
    height: 100%
}
