@page
@model RazorApp.Pages.New_Pages.IndexModel
@{
}
<h1>Hello World</h1>

<p>My Name is Gilad</p>

@section Gilad {
    <style>
        h1 {
            color: red;
        }
    </style>
}

@section Scripts {
    <h2>Scripts</h2>
}